# Ignorovat všechno ve složce
*

# =============== VÝJIMKY (Fáze 1 a Zázemí) ===============
# Neignorovat samotný gitignore a dokumentaci
!.gitignore
!README.md

# Neignorovat složku se sběrem dat a její obsah
!data_scraping/
!data_scraping/**

# Neignorovat data složku s vygenerovaným datasetem
!data/
!data/**

# Neignorovat případné requirements.txt pro spuštění scraperu
!requirements.txt
